@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .headerItem {
    @apply text-[1.5rem] uppercase leading-[1.5rem] tracking-tighter lg:text-[.8rem] lg:leading-[.8rem];
  }

  .headerMobileItem {
    @apply text-[1.5rem] font-semibold uppercase leading-[1.5rem] tracking-tighter;
  }

  .navBarMobileItem {
    @apply text-[1rem] font-semibold uppercase leading-[1rem] tracking-tighter;
  }

  .heroTitle {
    @apply overflow-hidden text-[3rem] font-bold uppercase leading-[3.5rem] tracking-tighter lg:text-[6rem] lg:leading-[5.5rem] lg:tracking-tighter;
  }

  .sideBarTitle {
    @apply text-start text-[1rem] leading-[1.3rem] tracking-tighter;
  }

  .eventTitle {
    @apply text-start text-[4rem] font-semibold uppercase leading-[4rem] tracking-tighter lg:text-[5rem] lg:leading-[5rem];
  }

  .eventDate {
    @apply text-start text-[1rem] font-semibold uppercase leading-[1rem] tracking-tighter lg:text-[1.5rem] lg:leading-[1.5rem];
  }

  .eventLocation {
    @apply text-start text-[1.5rem] font-semibold leading-[1.5rem] tracking-tighter lg:text-[2rem] lg:leading-[2rem];
  }
}
