@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .eventTitle {
    @apply text-start text-[3rem] font-semibold uppercase leading-[3rem] tracking-tighter lg:text-[5rem] lg:leading-[5rem];
  }
}
